<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lizhuopeng.dao.OrderDao">

    <resultMap id="BaseResultMap" type="com.lizhuopeng.model.MiniPicOrder" >
        <result column="id" property="id" />
        <result column="username" property="username" />
        <result column="is_paid" property="isPaid" />
        <result column="amount_of_money" property="amountOfMoney" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_discarded" property="isDiscarded" />
        <result column="img_name" property="imgName" />
    </resultMap>

    <sql id="Base_Column_List">
        id,
                username,
                is_paid,
                amount_of_money,
                create_time,
                update_time,
                is_discarded,
                img_name
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id" parameterType="com.lizhuopeng.model.MiniPicOrder">
        INSERT INTO mini_pic_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test ='null != username'>
                username,
            </if>
            <if test ='null != isPaid'>
                is_paid,
            </if>
            <if test ='null != amountOfMoney'>
                amount_of_money,
            </if>
            <if test ='null != createTime'>
                create_time,
            </if>
            <if test ='null != updateTime'>
                update_time,
            </if>
            <if test ='null != isDiscarded'>
                is_discarded,
            </if>
            <if test ='null != imgName'>
                img_name
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test ='null != username'>
                #{username},
            </if>
            <if test ='null != isPaid'>
                #{isPaid},
            </if>
            <if test ='null != amountOfMoney'>
                #{amountOfMoney},
            </if>
            <if test ='null != createTime'>
                #{createTime},
            </if>
            <if test ='null != updateTime'>
                #{updateTime},
            </if>
            <if test ='null != isDiscarded'>
                #{isDiscarded},
            </if>
            <if test ='null != imgName'>
                #{imgName}
            </if>
        </trim>
    </insert>

    <delete id="delete" >
        DELETE FROM mini_pic_order
        WHERE id = #{id}
    </delete>

    <update id="update" parameterType="com.lizhuopeng.model.MiniPicOrder">
        UPDATE mini_pic_order
        <set>
            <if test ='null != username'>username = #{username},</if>
            <if test ='null != isPaid'>is_paid = #{isPaid},</if>
            <if test ='null != amountOfMoney'>amount_of_money = #{amountOfMoney},</if>
            <if test ='null != createTime'>create_time = #{createTime},</if>
            <if test ='null != updateTime'>update_time = #{updateTime},</if>
            <if test ='null != isDiscarded'>is_discarded = #{isDiscarded},</if>
            <if test ='null != imgName'>img_name = #{imgName}</if>
        </set>
        WHERE id = #{id}
    </update>


    <select id="load" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM mini_pic_order
        WHERE id = #{id}
    </select>

    <select id="pageList" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM mini_pic_order
        where username=#{username}
        and is_discarded=false
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="pageListCount" resultType="java.lang.Integer">
        SELECT count(1)
        FROM mini_pic_order
        where username=#{username}
        and is_discarded=false
    </select>

</mapper>